

<table>
  <tr>
    <th>машины</th>
    <th>Количество сервиса ТО</th>
    <th>Сезонное ТО лето</th>
    <th>Сезонное ТО зима</th>
    <th>Время последнего ТО</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.car.name %></td>
    <td><%= service.amount %></td>
    <td><%= service.season_sumer %></td>
    <td><%= service.season_winter %></td>
    <td><%= service.time_to %></td>
    <td><%= link_to 'Подробнее', service %></td>
    <td><%= link_to 'Редактировать', edit_service_path(service) %></td>
    <td><%= link_to 'Удалить', service, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'новое ТО', new_service_path %>
