<p id="notice"><%= notice %></p>

<p>
  <b>машина</b>
  <%= @service.car %>
</p>

<p>
  <b>Количество сервиса ТО</b>
  <%= @service.amount %>
</p>

<p>
  <b>Сезонное ТО лето</b>
  <%= @service.season_sumer %>
</p>

<p>
  <b>Сезонное ТО зима</b>
  <%= @service.season_winter %>
</p>

<p>
  <b>Время последнего ТО</b>
  <%= @service.time_to %>
</p>


<%= link_to 'Редактировать', edit_service_path(@service) %> |
<%= link_to 'Назад', services_path %>
