<h1>Listing massages</h1>

<table>
  <tr>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @massages.each do |massage| %>
  <tr>
    <td><%= massage.post %></td>
    <td><%= link_to 'Show', massage %></td>
    <td><%= link_to 'Edit', edit_massage_path(massage) %></td>
    <td><%= link_to '++', new_massage_path(:parent_id => massage)  %></td>
    <td><%= link_to 'Destroy', massage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Massage', new_massage_path %>
