<h1>Список всех выполненных работ</h1>

<table class="table table-bordered">
  <tr>
    <th>Наименование машины</th>
    <th>На ремонте</th>
    <th>На тех. обслуживании</th>
    <th>Километров выполнено</th>
    <th>Мото-часов выполнено</th>
    <th>Дата создания</th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.car.name %></td>
    <td><%= job.repair_job ? 'да': 'нет' %> </td>
    <td><%= job.to ? 'да': 'нет'%></td>
    <td><%= job.km_n %></td>
    <td><%= job.m_ch %></td>
    <td><%= job.created_at.strftime("%Y-%m-%d ") %></td>
    <td><nobr><%= link_to 'Подробнее', job, :class => "btn btn-success btn-mini" %>
    <%= link_to 'Редактировать', edit_job_path(job), :class => "btn btn-info btn-mini" %>
    <%= link_to 'Удалить', job, method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-danger btn-mini" %></nobr></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая работа', new_job_path, :class => "btn" %>
