<h1>отчет о работе за периут</h1>
 <%= form_tag( reportsjob_jobs_path, :method => 'get') do %>
    <p>Выбарка</p>
    <p>
     от  <%= text_field_tag 'data_min',value = nil, "data-behaviour"=>'datepicker'  %>
     до  <%= text_field_tag 'data_max',value = nil, "data-behaviour"=>'datepicker'  %>
    </p>
    <%= submit_tag "Выбрать", :name => nil %>
 <% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker(
                {
                    format: 'yyyy-mm-dd',
                    "weekStart": 1,
                    "autoclose": true,
                    "language": "ru"

                }
        );
    })
</script>
<table>
  <tr>
    <th>Наиминование</th>
    <th>Отработанные километры</th>
    <th>Отработанные часы</th>

  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.name %></td>
    <td><%= job.km_all %></td>
    <td><%= job.m_ch_all %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
