<h1>отчет о работе за периут</h1>
 <%= form_tag( reportsto_jobs_path, :method => 'get') do %>
    <p>Выбарка</p>
    <p>
     от  <%= text_field_tag 'data_min',value = nil, "data-behaviour"=>'datepicker'  %>
     до  <%= text_field_tag 'data_max',value = nil, "data-behaviour"=>'datepicker'  %>
    </p>
    <%= submit_tag "Выбрать", :name => nil %>
 <% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker(
                {
                    format: 'yyyy-mm-dd',
                    "weekStart": 1,
                    "autoclose": true,
                    "language": "ru"

                }
        );
    })
</script>

<hr>
<p> Отчет о ремонтах и деталях </p>
<br />
<table>
  <tr>
    <th>Наиминование машины </th>
    <th>Причина поломки</th>
    <th>Наиминование детали </th>
    <th>дата поломки</th>

  </tr>

<% @jobs_to.each do |job| %>
  <tr>
    <td><%= job.name%></td>
    <td><%= job.causee %></td>
    <td><%= job.name_detall %></td>
    <td><%= job.date_repairs %></td>

    <td><%= %></td>


  </tr>
<% end %>
</table>
<hr>
<p> Отчет о техническом обслуживании </p>
<br />
<table>
  <tr>
    <th>Наиминование машины</th>
    <th>Количества технического обслуживания </th>
    <th>Отработанные часы</th>
    <th>дата технического обслуживания</th>

  </tr>

  <% @jobs_rep.each do |job| %>
      <tr>
        <td><%= job.car.name%></td>
        <td><%= job.service.amount %></td>
        <td><%= job.to ? 'да' : 'нет' %></td>
        <td><%= job.created_at.strftime("%Y-%m-%d ") %></td>



      </tr>
  <% end %>
</table>

<%= link_to 'Новая работа', new_job_path %>
