<p id="notice"><%= notice %></p>

<p>
  <b>Repair:</b>
  <%= @job.repair %>
</p>

<p>
  <b>To:</b>
  <%= @job.to %>
</p>

<p>
  <b>Km n:</b>
  <%= @job.km_n %>
</p>

<p>
  <b>M ch:</b>
  <%= @job.m_ch %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
