<%= form_for(@mileage_all) do |f| %>
  <% if @mileage_all.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mileage_all.errors.count, "error") %> prohibited this mileage_all from being saved:</h2>

      <ul>
      <% @mileage_all.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :km_all %><br />
    <%= f.number_field :km_all %>
  </div>
  <div class="field">
    <%= f.label :m_ch_all %><br />
    <%= f.number_field :m_ch_all %>
  </div>
  <div class="field">
    <%= f.label :car %><br />
    <%= f.text_field :car %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
