<p id="notice"><%= notice %></p>

<p>
  <b>Km all:</b>
  <%= @mileage_all.km_all %>
</p>

<p>
  <b>M ch all:</b>
  <%= @mileage_all.m_ch_all %>
</p>

<p>
  <b>Car:</b>
  <%= @mileage_all.car %>
</p>


<%= link_to 'Edit', edit_mileage_all_path(@mileage_all) %> |
<%= link_to 'Back', mileage_alls_path %>
