= form_for @maintenance do |f|
  - if @maintenance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@maintenance.errors.count, "error")} prohibited this maintenance from being saved:"
      %ul
        - @maintenance.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :car
    = f.text_field :car
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :season_sumer
    = f.date_select :season_sumer
  .field
    = f.label :season_winter
    = f.date_select :season_winter
  .field
    = f.label :time_to
    = f.date_select :time_to
  .actions
    = f.submit 'Save'
