<%= form_for(@warranty) do |f| %>
  <% if @warranty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warranty.errors.count, "error") %> prohibited this warranty from being saved:</h2>

      <ul>
      <% @warranty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      </ul>
    </div>
        <%= f.hidden_field :parent_id %>
  <% end %>

  <div class="field">
    <%= f.label "Наименование страховой"%><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Адрес страховой" %><br />
    <%= f.text_field :adds %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
