<%= form_for(@warranty) do |f| %>
  <% if @warranty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warranty.errors.count, "error") %> prohibited this warranty from being saved:</h2>

      <ul>
      <% @warranty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :adds %><br />
    <%= f.text_field :adds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
