<h1>Listing warranties</h1>

<table>
  <tr>
    <th>наименование страховой</th>
    <th>адрес страховой</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @warranties.each do |warranty| %>
  <tr>
    <td><%= warranty.name %></td>
    <td><%= warranty.adds %></td>
    <td><%= link_to 'Подробнее', warranty %></td>
    <td><%= link_to 'Редактировать', edit_warranty_path(warranty) %></td>
    <td><%= link_to 'Удалить', warranty, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая страховая фирма', new_warranty_path %>
