<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @warranty.name %>
</p>

<p>
  <b>Adds:</b>
  <%= @warranty.adds %>
</p>


<%= link_to 'Редактировать', edit_warranty_path(@warranty) %> |
<%= link_to 'Назад', warranties_path %>
