= simple_form_for(@car) do |f|
    = f.error_notification

    .form-inputs
        = f.input :name , label: 'наименование'
        = f.input :object_subdivisiod , label: 'объект подразделения'
        = f.input :date_of_commissioning , label: 'дата ввод в эксплуатацию'
        = f.input :date_warranty , label: 'дата гарантированного срока'
        = f.input :warranty_id, collection: Warranty.order(:name), label: 'наименование страховой фирмы'



    .form-actions
    = f.submit class: ["btn btn-primary"]
