<h1>Все машины</h1>

<table>
  <tr>
    <th>наименование</th>
    <th>объект подразделения</th>
    <th>дата ввод в эксплуатацию</th>
    <th>дата гарантированного срока</th>
    <th>наименование страховой фирмы</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.name %></td>
    <td><%= car.object_subdivisiod %></td>
    <td><%= car.date_of_commissioning %></td>
    <td><%= car.date_warranty %></td>
    <td><%= car.warranty.name %></td>
    <td><%= link_to 'Подробнее', car %></td>
    <td><%= link_to 'Редактировать', edit_car_path(car) %></td>
    <td><%= link_to 'Удалить', car, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать новую машину', new_car_path %>
