<h1>Подробнее</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Наименование объекта:</b>
  <%= @car.name %>
</p>

<p>
  <b>Объект подразделения:</b>
  <%= @car.object_subdivisiod %>
</p>

<p>
  <b>Дата ввода в эксплуатацию:</b>
  <%= @car.date_of_commissioning %>
</p>

<p>
  <b>Дата гарантированного обслуживания:</b>
  <%= @car.date_warranty %>
</p>

<p>
  <b>Наименование страховой:</b>
  <%= @car.warranty.name %>
</p>


<%= link_to 'Редактировать', edit_car_path(@car), :class => "btn btn-success" %> |
<%= link_to 'Назад', cars_path, :class => "btn" %>
