<p id="notice"><%= notice %></p>

<p>
  <b>наименование объекта</b>
  <%= @car.name %>
</p>

<p>
  <b>Объект подразделения</b>
  <%= @car.object_subdivisiod %>
</p>

<p>
  <b>Дата ввода в эксплуатацию</b>
  <%= @car.date_of_commissioning %>
</p>

<p>
  <b>Дата гарантированново обслуживание:</b>
  <%= @car.date_warranty %>
</p>

<p>
  <b>Наиминование страховой:</b>
  <%= @car.warranty.name %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
