<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cause %><br />
    <%= f.text_field :cause %>
  </div>
  <div class="field">
    <%= f.label :car %><br />
    <%= f.text_field :car %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
