<h1>все отремонтированные </h1>

<table>
  <tr>
    <th>Причина</th>
    <th>замена произошла</th>
    <th>машинка</th>
    <th>деталь</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repairs.each do |repair| %>
  <tr>
    <td><%= repair.cause %></td>
    <td><%= repair.replacement ? "да" : "нет" %>    </td>

    <td><%= repair.car.name %></td>
    <td><%= repair.detail.name_det %></td>
    <td><%= link_to 'Подробнее', repair %></td>
    <td><%= link_to 'Редактировать', edit_repair_path(repair) %></td>
    <td><%= link_to 'Удалить', repair, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'новый ремонт', new_repair_path %>
