<p id="notice"><%= notice %></p>

<p>
  <b>Причина</b>
  <%= @repair.cause %>
</p>

<p>
  <b>машинка</b>
  <%= @repair.car.name %>
</p>


<%= link_to 'Редактировать', edit_repair_path(@repair) %> |
<%= link_to 'Назад', repairs_path %>
