<p id="notice"><%= notice %></p>

<p>
  <b>Cause:</b>
  <%= @repair.cause %>
</p>

<p>
  <b>Car:</b>
  <%= @repair.car %>
</p>


<%= link_to 'Редактировать', edit_repair_path(@repair) %> |
<%= link_to 'Назад', repairs_path %>
