<h1>Список всех деталей</h1>

<table class="table table-bordered">
  <tr>
    <th>Наименование машины</th>
    <th>Наименование гарантии</th>
    <th>Наиминование детали</th>

    <!--<th>время работы</th>-->

    <th>Все время работы</th>
    <th>Время гарантии</th>
    <!--<th>отработано километров</th>-->
    <th>Общее количество километров</th>
    <th>Количество отработанных километров по гарантии</th>

    <th></th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= detail.car.name %></td>
    <td><%= detail.warranty.name %></td>
    <td><%= detail.name_det %></td>
    <td><%= detail.time_de_job %></td >
    <!--<td><%= detail.time_de_all %></td>-->
    <td><%= detail.time_de_warranty %></td>
    <!--<td><%= detail.km_de_job %></td>-->
    <td><%= detail.km_de_all %></td>
    <td><%= detail.km_de_warranty %></td>

    <td><nobr><%= link_to 'Подробнее', detail, :class => "btn btn-success btn-mini" %>
    <%= link_to 'Редактировать', edit_detail_path(detail), :class => "btn btn-info btn-mini" %>
    <%= link_to 'Удалить', detail, method: :delete, :class => "btn btn-danger btn-mini" %></nobr></td>
    <!--<td><%= link_to 'в ремонт', new_repair_url(detail_id: detail.id, car_id: detail.car_id  ) %></td>-->



  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая деталь', new_detail_path, :class => "btn" %>
