<h1>Список всех деталей</h1>

<table border="1">
  <tr>
    <th>наименование машины</th>
    <th>наименование гарантии</th>
    <th>Наиминование детали</th>

    <!--<th>время работы</th>-->

    <th>все время работы</th>
    <th>время гарантии</th>
    <!--<th>отработано километров</th>-->
    <th>общее количество километров</th>
    <th>количество отработанных километров по гарантия</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= detail.car.name %></td>
    <td><%= detail.warranty.name %></td>
    <td><%= detail.name_det %></td>
    <td><%= detail.time_de_job %></td >
    <!--<td><%= detail.time_de_all %></td>-->
    <td><%= detail.time_de_warranty %></td>
    <!--<td><%= detail.km_de_job %></td>-->
    <td><%= detail.km_de_all %></td>
    <td><%= detail.km_de_warranty %></td>

    <td><%= link_to 'Подробнее', detail %></td>
    <td><%= link_to 'Редактировать', edit_detail_path(detail) %></td>
    <td><%= link_to 'Удалить', detail, method: :delete %></td>
    <!--<td><%= link_to 'в ремонт', new_repair_url(detail_id: detail.id, car_id: detail.car_id  ) %></td>-->



  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая деталь', new_detail_path %>
