<h1>Listing details</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Warranty</th>
    <th>Наиминование</th>
    <th>Time de job</th>
    <th>Time de all</th>
    <th>Time de warranty</th>
    <th>Km de job</th>
    <th>Km de all</th>
    <th>Km de warranty</th>
    <th>ид работы</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @details.each do |detail| %>
  <tr>
    <td><%= detail.car.name %></td>
    <td><%= detail.warranty.name %></td>
    <td><%= detail.name_det %></td>
    <td><%= detail.time_de_job %></td >
    <td><%= detail.time_de_all %></td>
    <td><%= detail.time_de_warranty %></td>
    <td><%= detail.km_de_job %></td>
    <td><%= detail.km_de_all %></td>
    <td><%= detail.km_de_warranty %></td>
    <td><%= detail.job_id %></td>
    <td><%= link_to 'Show', detail %></td>
    <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
    <td><%= link_to 'Destroy', detail, method: :delete %></td>
    <td><%= link_to 'в ремонт', new_repair_url(detail_id: detail.id, car_id: detail.car_id  ) %></td>



  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Detail', new_detail_path %>
