
<p id="notice"><%= notice %></p>

<p>
  <b>Наиминование машины:</b>
  <%= @detail.car.name %>
</p>

<p>
  <b>Страховая фирма:</b>
  <%= @detail.warranty.name %>
</p>

<p>
  <b>Время работы:</b>
  <%= @detail.time_de_job %>
</p>

<p>
  <b>Все время работы:</b>
  <%= @detail.time_de_all %>
</p>

<p>
  <b>Время гарантии:</b>
  <%= @detail.time_de_warranty %>
</p>

<p>
  <b>Отработано километров:</b>
  <%= @detail.km_de_job %>
</p>

<p>
  <b>Общее количество километров:</b>
  <%= @detail.km_de_all %>
</p>

<p>
  <b>Количество отработанных километров по гарантия:</b>
  <%= @detail.km_de_warranty %>
</p>


<%= link_to 'Редактировать', edit_detail_path(@detail), :class => "btn btn-info" %> |
<%= link_to 'Назад', details_path, :class => "btn" %>
