
<p id="notice"><%= notice %></p>

<p>
  <b>Наиминование машины</b>
  <%= @detail.car.name %>
</p>

<p>
  <b>Страховая фирма</b>
  <%= @detail.warranty.name %>
</p>

<p>
  <b>время работы</b>
  <%= @detail.time_de_job %>
</p>

<p>
  <b>все время работы</b>
  <%= @detail.time_de_all %>
</p>

<p>
  <b>время гарантии</b>
  <%= @detail.time_de_warranty %>
</p>

<p>
  <b>отработано километров</b>
  <%= @detail.km_de_job %>
</p>

<p>
  <b>общее количество километров</b>
  <%= @detail.km_de_all %>
</p>

<p>
  <b>количество отработанных километров по гарантия</b>
  <%= @detail.km_de_warranty %>
</p>


<%= link_to 'Редактировать', edit_detail_path(@detail) %> |
<%= link_to 'Назад', details_path %>
